* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6;
}

header {
    background-color: #348bee;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.center-block {
    width: 50%;       /* Atur lebar elemen */
    margin: 0 auto;   /* Menengahkan elemen secara horizontal */
    text-align: center; /* Menengahkan teks di dalam elemen */
}



.grid-container {
    display: grid;
    justify-items: end;  /* Menempatkan elemen di sebelah kanan */
}



nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
body {
    background-image: url(32cf0b5eabf8b1d041eadb8fd70332a3.jpg);  /* Menetapkan gambar sebagai latar belakang */
    background-size: cover;  /* Memastikan gambar menutupi seluruh halaman */
    background-position: center;  /* Menempatkan gambar di tengah halaman */
}

